name: CI
on: [push]
jobs:
  build:
    name: Lint, check types and test

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version-file: ".nvmrc"

      - name: Install legacy deps
        run: npm ci
        working-directory: legacy

      - name: Setup PNPM
        uses: pnpm/action-setup@v2
        with:
          version: 8.2.0
          run_install: true

      - name: Lint
        run: pnpm lint

      - name: Check types
        run: pnpm check-types

      - name: Test
        run: pnpm test
