name: Open release

on:
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Prepare release with Changesets
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup PNPM
        uses: pnpm/action-setup@fe02b34f77f8bc703788d5817da081398fad5dd2 # v4.0.0
        with:
          run_install: false
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install
      - name: Retrieve token
        env:
          VAULT_URL: ${{ secrets.VAULT_URL }}
          VAULT_JWT: ${{ secrets.VAULT_JWT }}
        run: |
          set -x

          token=$( \
            curl --request GET --url "$VAULT_URL" --header "Authorization: JWT $VAULT_JWT" | jq -r .token \
          )

          echo "GITHUB_TOKEN=${token}" >> $GITHUB_ENV
      - name: Create Release Pull Request
        uses: changesets/action@aba318e9165b45b7948c60273e0b72fce0a64eb9 # v1.4.7
        id: changesets
        with:
          title: Release to npm
          commit: Release to npm
          publish: "pnpm publish:ci-prod"
        env:
          # Use private access token so Github can trigger another workflow from this one
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
