name: CI
on:
  pull_request:
    types: [opened, synchronize, reopened, edited]

jobs:
  build:
    name: Check pull request title
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup PNPM
        uses: pnpm/action-setup@d882d12c64e032187b2edb46d3a0d003b7a43598 # v2.4.0
        with:
          run_install: |
            - args: [--frozen-lockfile]
